<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blogify{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block stylingdiv %}<div id="default">{% endblock %}
            <div id="content">
                {% block header %}
                    <header>
                        <div id="centerTitle">
                            <h1>{{ title }}</h1>
                        </div>
                    </header>
                {% endblock %}
            {% block description %}{% endblock %}
            <div id="body">
            {% block body %}{% endblock %}
            {% block footer %}
                <a id="logoutbutton" href="{{ path('logout') }}"><img src="https://openclipart.org/image/2400px/svg_to_png/197891/mono-logout.png" height="25px" alt="logout"></a>
                <div id="footer">   
                </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
