{# Edit post Twig Template #}
{% extends 'base.html.twig' %}
{% block stylingdiv %}<div id="editPostForm">{% endblock %}
{% block body %}
    {% if app.user.getUsername() == username %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% else %}
        <h2>You are not allowed to edit this post.</h2>
    {% endif %}
    {{ tinymce_init() }}
{% endblock %}