{# Login Twig Template #}
{% extends 'base.html.twig' %}
{% block stylingdiv %}<div id="login">{% endblock %}
    {% block body %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        {% if error is not empty %}
            <div id="errors">
             <p>{{ error }}</p>
        {% endif %}
    {% endblock %}
    {% block footer %}
    {% endblock %} 
